<h1>Children</h1>

<%= link_to "Add New Child", new_child_path if authenticated? %>

<ul id="children">
  <% @children.each do |child| %>
    <li>
      <%= link_to "#{child.first_name} #{child.last_name}", child_path(child.id) %>
    </li>
  <% end %>
</ul>