/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

/* Global body styles */
h1, h2, h3, h4, h5, h6, p, blockquote, ul, dl, dt, dd, table, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #cbd5e1;
  margin: 0 auto;
  padding: 0;
}

/* Global utility classes */
.btn {
  min-width: 3rem;
  background-color: #f1f5f9;
  border: 1px solid #94a3b8;
  border-radius: 0.25rem;
  box-shadow: 0 1px rgb(0 0 0 / 0.05);
  cursor: pointer;
  padding: 0.5rem;
  color: #020617;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.btn--remove {
  background-color: #b91c1c;
  color: #f8fafc;
  border-color: #991b1b;
}

.btn-group {
  margin: 0.5rem;
  display: flex;
  column-gap: 1rem;
}

.card {
  background-color: #f8fafc;
  border: 0.5px solid #94a3b8;
  border-radius: 0.25rem;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem;
  padding: 0.5rem;
}

.flex-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-items: flex-start;
}

.title {
  font-size: 2.5rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

/* Navbar style */
.navbar {
  background-color: #f8fafc;
  border-bottom: 1px solid #94a3b8;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 1rem;
}
.navbar__left, .navbar__right {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}
.navbar__left {
  justify-content: flex-start;
}
.navbar__right {
  justify-content: flex-end;
}
.navbar__logo {
  font-size: 1rem;
  font-weight: 700;
}
.navbar__links, .navbar__auth {
  list-style: none;
  display: flex;
  align-items: center;
  column-gap: 1rem;
}
.navbar__links {
  justify-content: flex-start;
}
.navbar__link, .navbar__link button {
  background-color: transparent;
  border: none;
  font-size: 1rem;
  font-weight: 500;
}
.navbar__link a {
  color: #020617;
  text-decoration: none;
}
.navbar__link:hover a, .navbar__link:hover button {
  cursor: pointer;
  text-decoration: underline;
}

.navber__auth {
  justify-content: flex-end;
}

/* Individual child page styling */
.child-info {
  display: flex;
  column-gap: 1rem;
}
.child-info__section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: stretch;
}
.child-info__label {
  color: #334155;
  font-size: 1rem;
  font-weight: 300;
}
.child-info__data {
  font-size: 1.25rem;
  font-weight: 500;
}